:root {
  --bg-color: #121212;
  --text-color: #f3f3f3;
}

/*  CSS RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.wrapper {
  display: flex;
}

.sidebar {
  height: 100vh;
  width: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebar__logo {
  font-size: 1.5rem;
  height: 80px;
  display: grid;
  place-content: center;
}

.sidebar__logo span {
  height: 20px;
}

.sidebar__logo span:last-child {
  color: #de7755;
  font-size: 1.9rem;
}

.sidebar__nav {
  padding: 2rem 1rem;
  display: grid;
  gap: 1rem;
}

.content {
  flex: 1 auto;
}

.header {
  height: 80px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.main {
  border: 1px solid rgba(230, 230, 230, 0.05);
  height: 100%;
  border-radius: 16px;
}

.main__wrapper {
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
}

