:root {
  --bg-color: #121212;
  --text-color: #f3f3f3;
}

/*  CSS RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  height: 100svh;
  overflow: hidden;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root {
  isolation: isolate;
  height: 100%;
}

.wrapper {
  display: flex;
  height: 100%;
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-color);
}

.sidebar__logo {
  font-size: 1.5rem;
  height: 70px;
  display: grid;
  place-content: center;
}

.sidebar__logo span {
  display: inline-flex;
  align-items: center;
  height: 5px;
  color: #de7755;
}

.sidebar__logoIcon {
  width: 18px;
  height: 18px;
}

.sidebar__nav {
  padding: 3rem 1rem;
  display: grid;
  gap: 0.5rem;
}

.sidebar__nav a {
  display: inline-flex;
  gap: 0.6rem;
  align-items: center;
  font-size: 0.9rem;
}

.sidebar__navIcon {
  width: 15px;
  height: 15px;
}

.sidebar__navLink {
  width: 200px;
  padding: 0.5rem 3rem;
  color: #b6b6b6;
  border-radius: 8px;
}

.sidebar__navLink:hover {
  background-color: #242424;
}

.sidebar__navLink.active {
  background-color: #242424;
}

.content {
  position: sticky;
  top: 80px;
  flex: 1 auto;
  margin-left: 250px;
}

.header {
  height: 80px;
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 2rem;
}

a.header__logo {
  display: none;
}

.header__search {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  width: 300px;
  font-size: 0.9rem;
}

.header__nav {
  display: flex;
  gap: 1.5rem;
  color: #b6b6b6;
}

.header__menuIcon {
  display: none;
}

.active {
  color: var(--text-color);
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Content.ReactModal__Content--after-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  border-left: 1px solid rgba(230, 230, 230, 0.05);
  border-top: 1px solid rgba(230, 230, 230, 0.05);
  height: calc(100svh - 80px);
  border-top-left-radius: 16px;
  overflow: auto;
}

.main::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--bg-color);
}

.main::-webkit-scrollbar {
  width: 12px;
  background-color: var(--bg-color);
}

.main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #de7755;
}

.main__wrapper {
  height: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
}

.form-group {
  margin: 2rem 0;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  border: 2px solid rgba(230, 230, 230, 0.3);
  border-radius: 4px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.form-input:focus {
  outline: none;
  border-color: #de7755;
}

.form-button,
.close-button {
  display: inline-block;
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 4px;
  color: var(--text-color);
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}
.form-button {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #de7755;
}
.close-button {
  width: 50px;
  margin: 0 auto;
  border-radius: 50%;
  height: 50px;
  background-color: transparent;
}

.form-button:hover,
.form-button:focus {
  background-color: transparent;
  color: #de7755;
  border: 2px solid #de7755;
}

.form-button:active {
  transform: translateY(1px);
}

.close-button:hover,
.close-button:focus {
  background-color: #de7755;
}

@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
  .content {
    margin-left: 0;
  }
  .main {
    border-top-left-radius: 0;
  }
  a.header__logo {
    display: block;
    transform: translateY(-8px);
  }
  .header__form {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__menuIcon {
    display: block;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
  }
  .header__menuIcon:hover {
    background: #242424;
  }
  
}
